@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Preahvihear&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

.sora_400 {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sora_600 {
  font-family: "Preahvihear", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.sora_800 {
  font-family: "Preahvihear", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.sora_900 {
  font-family: "Preahvihear", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* benar */

.hobar:hover {
  background-color: #000000;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  transform: scale(1.5) translateY(-5px);
  box-shadow: 6px 6px 10px black;
}

@media (min-width: 991px) {
  .flex {
    display: flex;

    align-items: center;
    gap: 10px;
  }
}

/* My Skills */

.skill1Hovar:hover {
  background-color: darkgreen;
  color: white;
  font-weight: 100;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2) translateY(-5px);
  box-shadow: 1px 1px 1px black;
  border-radius: 90%;
}

/* My Testimonial */
.pofayl {
  background-image: url("./images/Ellipse\ 2664.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

.TestimonialCard:hover {
  background-color: #000000;
  color: black;
  font-weight: 100;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1) translateY(-5px);
}

/* Contact */
.contactHedar {
  -webkit-text-stroke: #000000 1px;
  color: #fff;
  font-weight: 60px;
}

/* About Me */

.AboutText {
}

/* Responsive */

/* benar */
@media (max-width: 992px) {
  .benar {
    display: contents !important;
    text-align: center;
    gap: 10px;
  }
  .benarText {
    width: 80% !important;
    margin: auto !important;
    align-items: start !important;
  }
  .benarPeragirap {
    width: 100% !important;

    align-items: start !important;
  }
  .benarHedarText {
    width: 100% !important;

    align-items: start !important;
  }
}

/* My Skills */

@media (min-width: 992px) {
  /* benar */
  .imges{
    width: 600px;
  }
  .MY {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    justify-content: space-around;
    align-items: center;

    gap: 86px;
  }
}

@media (max-width: 992px) {
  .MY {
    display: grid;

    justify-content: center;

    gap: 20px;
  }
}

/* MYAbout */

@media (min-width: 992px) {
  .MYAbout {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: space-around;
    align-items: center;

    gap: 80px;
  }

  .AboutText {
    width: 600px;

    align-items: start;
    margin-bottom: 60px;
  }

  /* My Projects */

  .pofayl {
    background-image: url("./images/Ellipse\ 2664.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;

    left: 35%;
    top: 2rem;
  }
  .MyProjectsCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .TestimonialCardperagirap {
    position: absolute;

    top: 8rem;
    left: 15%;
  }
  .testimoniltext {
    width: 290px;
    color: #6f6f6f;
    font-weight: bold;
  }

  .TestimonialCardHorijentoline {
    border: 2px solid #6f6f6f;
    width: 60%;
  }

  .TestimonialCard {
    width: 370px;
    height: 390px;
    margin-bottom: 20px;
  }

  .TestimonialAllCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* Contact */
  .Contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* Contact */
